.titulo {
    color: rgb(183, 201, 23);
}
.ofertas {
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 7, 7);
}
.oferta {
    margin-left: auto;
    margin-right: auto;
}
.plataforma {
    margin-left: auto;
    margin-right: auto;
}
.plataformas{
    color: rgb(255, 7, 7);
}
.los {
    color:rgb(255, 7, 7)
}